.wedding-countdown {
    display: flex;
    justify-content: space-around;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    padding-bottom: 8vh;
}

.text-titulo {
    color: #657150;
    font-style: italic;
}

.decorated-text {
    position: relative;
}

.decorated-text:after {
    content: '';
    position: absolute;
    left: 20;
    bottom: 0;
    width: 50%;
    height: 2px;
    /* Grosor de la línea decorativa */
    background-color: #FFD700;
    /* Color de la línea decorativa */
}


.countdown-item {
    text-align: center;
    font-style: italic;
}

.countdown-item span {
    font-size: 2rem;
    font-weight: 900;
    color: #657150;
    /* Color personalizado para destacar */
}

.countdown-item p {
    margin: 0;
}

.space-vertical-title {
    padding-top: 10vh;
    padding-bottom: 4vh;
}

.space-vertical-timer {
    padding-top: 2vh;
    padding-bottom: 2vh;
}