.space-vertical {
    padding-top: 6vh;
    padding-bottom: 4vh;
}

.space-horizontal {
    padding-left: 10vw;
    padding-right: 10vw;
}

.textos-cursiva {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #2d2d2d;
    font-style: italic;
}

.textos-cursiva-simbolos {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ca3749;
    font-style: italic;
}

.texto-nombres-novios {
    font-weight: 800;
    font-style: italic;
    color: #657150;
}

.linea-divisora {
    border: none;
    /* margin-top: 2vh; */
    margin-bottom: 2vh;
    height: 5px;
    background-color: #657150;
    width: 100%;
}

.linea-divisora-titulos {
    border: none;
    /* margin-top: 2vh; */
    margin-bottom: 2vh;
    height: 5px;
    background-color: #657150;
    width: 50%;
}

