.wedding-countdown {
    display: flex;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    color: #657150;
    width: 100vw;
}

.countdown-item {
    text-align: center;
}

.countdown-item span {
    font-size: 2rem;
    font-weight: 900;
    color: #657150;
    /* Color personalizado para destacar */
}

.countdown-item p {
    margin: 0;
}

.space-vertical-title {
    padding-top: 10vh;
    padding-bottom: 4vh;
}

.space-vertical-timer {
    padding-top: 2vh;
    padding-bottom: 2vh;
}
